
*.semaphore
*.asol
*.asol_priv
*.ctrf
*.ctrf
*.lst
*.ctrf
*.ctrf
Project_2/~$winding.xlsx
Project_2/figures/phasor24.pdf
Project_2/project_2.aedtresults/mf_12/GeometryCache/CacheDataVersion.tmp
Project_3/~$report.docx
Project_4/~$report.docx
